h1 {
    color: #808080;
}
*{
    background: color #808080;
    /* border-solid */
}
.Header{
    background-color: rgb(72, 94, 88);
    display: flex;
    justify-content: space-evenly;
}

.grid{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.heading2{
    display: contents;
    flex-wrap: nowrap;
    justify-self: space-evenly;

}